
.commentBoxContainer {
  width: 70%;

  .commentContainer  {
      display: table;
      width: 100%;
      border-bottom: 1px solid #DDDDDD;
      >*{

        display: table-cell;
      }
      
      .checkXContainer {
        float: left;
        width:40px;


        > div {
          float: left;
          width:20px;
        }
      }

      .commentAuthor {
        font-size: 12px;
        width:100px;
      }

    }


}


    
